mixin comments
    - for (var x = 1; x < 4; x++)
    .abs(class= 'comm'+x)
        .case.rel
            .img.rel
                img(src="../assets/images/avatar.png").abs
            .name.abs Алексей Гоно
            .body.abs Отличное и удобное приложение. Классные возможности, отзывчивая поддержка.
        img(src="../assets/images/ic-down.png").rel
