doctype html
html
    head
        meta(charset="utf-8")
        title gline-mark
    body
        .img1.position-center.rel.hcr
            img(src="../assets/images/im1.png")
            .ic-logo.position-center.abs
                img(src="../assets/svg/Vector-2.svg")
                .position-center.rel.img12
                    img(src="../assets/svg/Vector-1.svg").abs
                    img(src="../assets/svg/Vector.svg").abs
            img(src="../assets/images/Calm_sensor.png").abs.calm
            .txt.abs Комплекс из камеры и мобильного приложения, который помогает в любой момент убедиться, что с близкими и домом всё в порядке.
        .cam.position-center.rel.hcr
            .bg.position-center.rel
                img(src="../assets/images/cam.png" data-action="openPopUp:gr21").dialog__action.call
                .sh.abs
                .txt2.abs подробнее
            .bg.position-center.rel
                img(src="../assets/images/cam.png" data-action="openPopUp:gr22").dialog__action.call
                .sh.abs
                .txt2.abs подробнее
        .pay.txt-hcr Приобрести
        .gr7.position-center.rel.hcr
            .select.hcr.rel
                .gr
                    img(src="../assets/images/cam2.png").hcr
                span Покупка
                .sh.abs
            .select.hcr.rel
                .gr
                    img(src="../assets/images/ras.png").hcr
                span Рассрочка
                .sh.abs
            .select.hcr.rel
                .gr.position-center
                    img(src="../assets/images/100.png")
                    img(src="../assets/images/cam2.png")
                    img(src="../assets/images/wifi.png")
                span Пакет
                span "Все под контролем"
                .sh.abs
            .select.hcr.rel
                .gr.position-center
                    img(src="../assets/images/btv.png")
                .gr.position-center
                    img(src="../assets/images/100.png")
                    img(src="../assets/images/cam2.png")
                    img(src="../assets/images/wifi.png")
                span Пакет
                span "Тысяча пятьсот"
                .sh.abs
        form.gr6.hcr.rel
            .case
                .txt.hcr Оставьте заявку, и мы позвоним вам в ближайшее время
                input(type="tel" placeholder="+7 ___ ___ ____" required name='phone').hcr.dbl#phone
                .rel.inbl
                    .err.abs.none Проверьте набранный номер
                    .sh.abs
                    button(type="submit" data-action="sendMessage:this").hcr.dbl.rel
                        i.rel отправить заявку
                        img(src="../assets/images/ic-send.png").rel
            .sh2.abs
        .gr8.hcr.rel
            h3 Отзывы
            include comments
            +comments()
        include popup
