.overlay(data-action="closeAllPopUp")
.case-popup.rel
    .dialog#gr21(data-action="closePopUp:this")
    #tpl-gr21.tpl
        .gr21.position-center.abs.rel
            include features
            -
                var items = [
                {name:'Работает по Wi-Fi или кабелю',icon:"left-side/works"},
                {name:'Разрешение 1280х960 (HD)', icon:'left-side/res'},
                {name:'Ночная съемка', icon:'left-side/night'},
                {name:'Запись звука и видео', icon:'left-side/rec'},
                {name:'Угол обзора 100°', icon:'left-side/angle'},
                {name:'Длина<br>кабеля<br>1.5 метра', icon:'left-side/cable'}
                ]
            each val in items
                +features(val)
            .sh.abs
            .aside.abs.position-center
                img(src="../assets/images/cam.png")
                .ic-close.abs(data-action="closePopUpClosest:this").dialog__close
                    img(src="../assets/images/ic-close.png").rel

    .dialog#gr22(data-action="closePopUp:this")
    #tpl-gr22.tpl
        .gr22.position-center.rel
            include features
            -
                var items = [
                {name:'Уведомление на телефон о движении',icon:"right-side/notify"},
                {name:'Хранение данных на защищенных серверах', icon:'right-side/store'},
                {name:'Совместный доступ у членов семьи', icon:'right-side/share'},
                {name:'Скачивание/<br>удаление архивных записей', icon:'right-side/downloads'},
                {name:'Доступ из любой точки мира', icon:'right-side/point'},
                {name:'Уведомление о приходе «Домашних»', icon:'right-side/notify-home'}
                ]
            each val in items
                +features(val)
            .sh.abs
            .aside.abs.position-center
                img(src="../assets/images/smart.png")
                .ic-close.abs(data-action="closePopUpClosest:this").dialog__close
                    img(src="../assets/images/ic-close.png").rel
    .dialog#gr23(data-action="closePopUp:this")
    #tpl-gr23.tpl
        .gr23.hcr.rel
            .txt.dbl.hcr.rel Спасибо, что оставили заявку.<br>Мы скоро вам перезвоним.
            button(type="submit" disabled).hcr.dbl.rel
                i.rel отправить заявку
                img(src="../assets/images/ic-send.png").rel
