@import '../variables.scss';

.position-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.fll{
  float: left;
}
.flr{
  float: right;
}


.hcr{
  margin: 0 auto;
}

.txt-hcr{
  text-align: center;
  display: block;
}

.dbl{
  display: block;
}

.inbl{
  display: inline-block;
}

.outline-red{
  outline: $outline-crimson;
}

.outline-blue{
  outline: $outline-blue;
}

.outline-white{
  outline: $outline-whitesmoke;
}

.outline-crimson{
  outline: $outline-crimson;
}

.vcr{
  flex-direction: column;
}

.none{
  display: none;
}

.abs{
  position: absolute;
}

.rel{
  position: relative;
}
