@import '../variables.scss';

i{
  margin: 0 8px;
}

.content{
  outline: $outline-green;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0 45px 0;
}

.img1{
  margin-top: 40px;
  width: 960px;
  height: 408px;
  .txt{
    left: 46px;
    bottom: 46px;
    width: 262px;
    height: 141px;
    font: $font3;
    color: #2E3134;
  }

  .ic-logo{
    left: 46px;
    top: 39px;
    width: 56.38px;
    height: 73.63px;

    .img12{
      width: 56.38px;
      height: 55.06px;
      img{
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0;
      }
    }

  }
}

.calm{
  left: 119px;
  top: 50px;
}

.cam{
  margin-top:103px;
  margin-bottom: 103px;
  width: 870px;
  height: 619px;
  justify-content: space-between;

  img{
    cursor: pointer;
  }

  .bg{
    background: $bgr3;
    border-radius: 18px;
    width: 390px;
    height: 619px;
    margin: 0;
  }

  .sh{
    width: 314px;
    height: 619px;
    z-index: -1;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    box-shadow: 0px 25px 100px #48AE4B;
  }
}

.txt2{
  width: 260px;
  font: $font3;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #747474;
  top: 635px;
  margin: auto;
  left: 0; bottom: 0; right: 0;
}

.gr7{
  width: 963px;
  justify-content: space-between;

  .abs{
    top: -20px;
    margin: 0 auto;
  }

  .sh{
    width: 140px;
    height: 213px;
    top:0;
    left: 37px;
    z-index: -1;
    box-shadow: 0px 25px 100px #48AE4B;
  }
  margin-bottom: 110px;
}
.select{
  margin: 0;
  width: 213.7px;
  height: 213.7px;
  background: $bgr3;
  border-radius: 18px;
}

.select img, .select span{
  display: block;
}

.select span{
  text-align: center;
  font: $font4;
  font-weight: bold;
  color: #FFF;
  margin-top: 10px;
  +span{
    font: $font3;
    margin-top: 0;
    //outline: $outline-crimson;
  }
}

.pay{
  margin-bottom: 40px;
  font-family: $prime-font2;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
  color: $color1;
}

.select:nth-child(1) {
  .gr {
    margin-top: 51.5px;
  }
  span {
    margin-top: 20.5px;
  }
}
.select:nth-child(2) {
  .gr {
    margin-top: 65px;
  }
  span {
    margin-top: 20.5px;
  }
}
.select:nth-child(3) {
  .gr {
    margin-top: 51.5px;
    img:nth-child(2){
      margin: 0 16.5px;
    }
  }
}
.select:nth-child(4) {
  .gr:nth-child(1) {
    margin-top: 19.5px;
  }
  .gr:nth-child(2) {
    margin-top: 12.5px;
    img:nth-child(2){
      height: 75px;
      margin: 0 20px 0 17.7px;
    }
  }
}

.gr6{
  width: 872px;
  height: 332px;
  background: #FFF;
  border-radius: 18px;
  text-align: center;
  .case{
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .txt{
    margin-top: 40px;
    font: $font3;
    width: 360px;
    text-align: center;
    color: $color1;
  }
  input{
    width: 276px;
    height: 60px;
    box-sizing: border-box;
    margin-top: 33px;
    font-family: $prime-font;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #363636;
    padding: 14px 30px;
    border: 3px solid $color3;
    border-radius: 4px;
    outline: none;
  }

  input:focus{
    background: #FFFFFF;
    border-color: $bgr1;
    box-shadow: 0px 24px 24px rgba(0, 152, 16, 0.25),
    0px 0px 24px rgba(0, 152, 16, 0.25);
  }

  input.completed{
    border-width: 4px;
    box-shadow: none;
  }

  input.err{
    box-shadow: none;
    border-color: #BF4444;
    color: #BF4444;
  }

  div.err{
    font: $font4;
    color: #363636;
    text-align: center;
    top: 12.5px;
    left: -1px;
  }
  div.err:before{
    content: '!';
    margin-right: 11px;
    width: 21px;
    height: 21px;
    background: #BF4444;
    color: white;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
  }

  .inbl .sh{
    width: 259.44px;
    height: 60px;
    left: 8px;
    bottom: -12px;
    background: #009810;
    border-radius: 4px;
  }
  button{
    margin-top:42px;
    width: 278px;
    height: 60px;
    background: #72BF44;
    border-radius: 4px;
    border: none;
    outline: none;

    i{
      font-family: $prime-font2;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 22px;
      text-transform: uppercase;
      color: white;
      top:-3px;
      display: inline-block;
    }
    img{
      top:2px;
    }

  }
  .sh2{
    width: 796px;
    height: 332px;
    bottom: 0;
    left:38px;
    z-index: -1;
    background: $bgr3;
    box-shadow: 0px 25px 100px #48AE4B;
    border-radius: 18px;
  }
}
//-------------------------------------
.gr8{
  width: 960px;
  height: 357px;
  overflow: hidden;
  margin-top: 121px;
  text-align: center;

  h3{
    font: $font1;
    color: $color1;
    margin: 0;
  }

  .comm3{
    bottom: 0;
    .case{
      background: rgba(255, 255, 255, 0);
    }
  }

  .comm1,.comm2,.comm3{
    width: 560px;
    height: 240px;
    left: 200px;
    background: $bgr3;
    .img, .img:before,.img:after{
      width: 78px;
      height: 78px;
      border-radius: 50%;
    }
    .img{
      top:28px;
      left:28px;
      border: 1px solid #FFF;
      padding: 4px;
      img{
        top:4px;
        left:4px;
        border-radius: 50%;
      }
    }
    .img:before,.img:after{
      content: "";
      position: absolute;
    }

    .img:before{
      border: 1px solid rgba(255, 255, 255, 0.5);
      padding: 8px;
      top: -5px;
      left: -5px;
    }

    .img:after{
      border: 1px solid rgba(255, 255, 255, 0.25);
      padding: 12px;
      top: -9px;
      left: -9px;
    }
    .name, .body{
      font-family: $prime-font;
      font-style: normal;
      line-height: normal;
      color: #FFF;
    }
    border-radius: 18px;
    .case{
      height: 100%;
      border-radius: 18px;
    }
    .name{
      font-weight: normal;
      font-size: 18px;
      top: 60px;
      left: 142px;
    }
    .body{
      width: 386px;
      text-align: left;
      font-weight: bold;
      font-size: 20px;
      top: 101px;
      left: 142px;
    }
    >img{
      bottom: 40px;
      cursor: pointer;
      //outline: $outline-crimson;
      padding: 5px 10px;
      box-sizing: border-box;
    }
  }
  .comm1{
    transform: scale(0.6);
    bottom: 101px;
    .case{
      background: rgba(255, 255, 255, 0.8);
    }
  }
  .comm2{
    transform: scale(0.8);
    bottom: 54px;
    .case{
      background: rgba(255, 255, 255, 0.6);
    }
  }
}

.gr21,.gr22{
  width: 720px;
  height: 698px;
  background: $bgr3;
  border-radius: 18px;
  align-content: center;

  .features{
    flex-wrap: nowrap;
    justify-content: start;
    -webkit-justify-content: flex-start;

    width: 311px;
    height: 196px;
    background: #FFF;
    border-radius: 18px;

    .bg{
      box-sizing: border-box;
      width: 126px;
      height: 126px;
      background: $bgr3;
      box-shadow: 0px 10px 40px #45AE4D;
      border-radius: 50%;
      margin-left: 15px;
    }

    .name{
      box-sizing: border-box;
      font: $font3;
      width: 130px;
      margin-left: 18px;
      color: $color1;
    }

  }
  .features:nth-child(3),.features:nth-child(4){
    //outline: $outline-blue;
    margin: 15px 0;

  }
  .features:nth-child(2n){
    margin-left: 18px;
  }
  .sh{
    width: 640px;
    height: 697px;
    z-index: -1;
    background: $bgr3;
    box-shadow: 0px 25px 100px #48AE4B;
    border-radius: 18px;
    margin: auto;
    //https://habr.com/en/post/189696/
    top: 0; left: 0; bottom: 0; right: 0;

  }

  .aside{
    width: 390px;
    height: 619px;
    z-index: -1;
    background: #F4F4F4;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 18px;
    margin: auto;
    top: 0; bottom: 0;
  }
  .ic-close{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: $bgr3;
    cursor: pointer;
    margin: auto;
    top: 0; bottom: 0;
    img{
      top: 15px;
      left: 15px;
    }
  }
  margin: 0 auto;
}

.gr21{
  left: 97.5px;
  .aside{
    left: -195px;
  }
  .ic-close{
    left: 110px;
  }
}

.gr22{
  right: 97.5px;
  .aside{
    right: -195px;
  }
  .ic-close{
    right: 110px;
  }
}

.gr23{

  width: 872px;
  height: 332px;
  top: 140px;

  background: #FFF;
  border: 1px solid #DAE0E5;
  box-sizing: border-box;
  border-radius: 18px;

  margin-bottom: 200px;

  .txt{
    width: 548px;
    top: 81px;
    font: $font1;
    text-align: center;

    color: $color1;
  }
  button{
    top: 138px;
    width: 278px;
    height: 60px;
    background: #DAE0E5;
    border-radius: 4px;
    border: none;
    outline: none;

    i{
      font-family: $prime-font2;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 22px;
      text-transform: uppercase;
      color: white;
      top:-3px;
      display: inline-block;
    }
    img{
      top:2px;
    }
  }
}






