.tpl {
  display: none;
}

.dialog__action{

  transition: all 150ms ease-out;
  transform: translateY(0px);
  &:hover, &:focus {
    outline: 0;
    transition: all 100ms ease-in;
  }
  &:active {
    transform: translateY(-3px);
  }
}

.dialog {
  display: none;
  z-index: 3;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 180ms ease-in;
  &.active {
    top: 15%;
    visibility: visible;
    opacity: 1;
    transition: all 250ms ease-out;
  }
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  //transition: opacity 500ms;
  transition: all 200ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.overlay.active{
  transition: all 200ms;
  visibility: visible;
  opacity: 1;
}

.case-popup{
  display: flex;
  position: inherit;
}
