$outline-weight: 1px;
$outline-crimson: $outline-weight dotted crimson;
$outline-whitesmoke: $outline-weight dotted whitesmoke;
$outline-green: $outline-weight dotted green;
$outline-blue: $outline-weight dotted blue;

//---------------------
$prime-font: Roboto;
$prime-font2: 'Roboto Condensed';

$font1: normal bold 36px $prime-font2;
$font2: normal normal 32px $prime-font2;
$font3: normal bold 20px $prime-font;
$font4: normal normal 18px $prime-font;

$bgr1: #47B247;
$bgr2: #96C22B;
$bgr3: linear-gradient(180deg, #8CB928 0%, #45AE4D 100%);
$color1: #313334;
$color2: #797C80;
$color3: #DAE0E5;
